<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!--  IMPORT -->
<head th:fragment="import"  th:remove="tag">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<!--  CSS  -->
<style th:fragment="css" th:inline="css">
	#app p {
		color: red;
	}
</style>

<!--  APPSHELL  -->
<div id="app1" th:fragment="appshell"></div>

<!--  TEMPLATE VUEJS  -->
<div id="app" th:fragment="template">
	<h1 v-once>{{ message }}</h1>
	<p>{{ message }}</p>
	<input v-model="message">
	<h2 v-once>once {{ message }}</h2>
</div>

<!--  SCRIPT  -->
<script th:fragment="otherjs" th:remove="tag" th:inline="javascript">
	var fctAjout = (p)=>{ console.log(p); };
</script>


<!--  SCRIPT VUESJS -->
<script th:fragment="js" th:inline="javascript">
	var renderjson = /*[# th:utext="${# vuejs.compile('main','template')}" ]*/ {} /*[/]*/;
	
	//var methods = /*[# th:utext="~{main::otherjs}" ]*/ {} /*[/]*/;

	/*[# th:replace="~{main::otherjs}"]*/  /* ajout code dynamique d'ajout */  /*[/]*/
	
	var instVue1 = new Vue({
		el : '#app1',
		
		render : renderjson.render,
		staticRenderFns : renderjson.staticRender,
		
		methods: {
			ajout : fctAjout
		},
		
		data : {
			message : 'bonjour PSX!'
		}
	})
</script>


</html>